@import 'https://fonts.googleapis.com/css?family=Comfortaa';
*:focus {
  outline: none; }

body {
  background: #f9f7f6;
  color: #404d5b;
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Comfortaa', Arial, sans-serif; }

.content {
  font-size: 150%;
  padding: 3em 0; }

h2 {
  margin: 0 0 2em;
  opacity: 1;
  text-align: center; }

p {
  margin: 1em 0;
  padding: 5em 0 0 0;
  font-size: 0.65em; }

.input {
  text-align: center;
  z-index: auto;
  display: inline-block;
  margin: 1em;
  width: calc(100% - 2em); }

.input__field {
  padding: 0.85em 1.5em;
  width: 80%;
  border-radius: 2em;
  background: #fff;
  color: #535d92;
  border: none;
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button {
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  z-index: 0;
  padding: 0 0 0 2em;
  width: 100%;
  text-align: left;
  margin-top: 1em;
  padding: 1em 1.5em;
  width: 60%;
  text-align: center;
  border-radius: 3em;
  border: none;
  font-weight: bold;
  font-size: large; }

.button:focus {
  background: #404d5b;
  color: #ddd; }
